
/* Container holds entire project card component */
.project-card3{
    /* Remove default styling from a tag */
    all: unset;
    
    /* display: block; */

    display: flex;
    flex-direction: column;
    gap: 1.5em;

    background-color: rgb(250, 250, 250);
    padding: 1.25em 1.75em 1.25em 1.75em;
    border-radius: 1em;
    width: 90%;
    max-width: 35em;
    border: 1px solid var(--grey200);

    /* So padding is included in width */
    box-sizing: border-box; 

    /* For the project card pop out shift up effect */
    transition-property: box-shadow, transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
.project-card3:hover{
    transform: translateY(-0.5em);
    box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.1);
}

/* Container which image cycler and dummy placeholder image */
.image-container3{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Image cycler div actually contains images displayed to the user via background-image */
.image-container3 > div{
    background-image: url();
    background-size: cover;
    width: fit-content;
    height: fit-content;
    border: 1px solid var(--grey100);
    border-radius: 17px;

    /* For image swapping effect, and for image pop out effect */
    transition: background-image 1s ease-in-out;
}

/* Image is just used to fill up the size so parent can use background-image to actually display
the image to the user. Hence opacity: 0 */
.image-container3 > div > img{
    width: 100%;
    max-height: 20em;
    object-fit: contain;
    opacity: 0;
}


/* Project title */
.project-card3 > h4{
    font-size: 1.3em;
    text-align: left;
    font-weight: 400;
    color: var(--grey700);
}
/* Project description */
.project-card3 > p{
    font-size: var(--section-subtitle-font-size);
    font-weight: var(--section-subtitle-font-weight);
    color: var(--grey600);
    line-height: 1.3em;
}

/* Container which holds all coding language icons for langauges used in project */
.project-tech3{
    font-size: 13.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em;
}