.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    user-select: none;
    padding-top: var(--section-spacing);
    padding-bottom: var(--section-spacing);

    padding-left: var(--section-side-padding);
    padding-right: var(--section-side-padding);

    background-color: var(--grey700);
    color: var(--grey100);
}