
.bar{
    position: relative;
    width: 2em;
    transform: rotateX(-30deg) rotateY(-135deg);
    transform-style: preserve-3d;
    margin-left: 50px;
}

/* Rotating all of the faces to form a rectangle. Background colors also help to make shape look more 3d. */
.left-face{
    transform: rotateY(90deg) translateZ(1em);
    width: 2em;
    height: 10em;
    background-color: rgba(241, 241, 241, 0.8);
}
.right-face{
    transform: rotateY(180deg) translateY(-10em) translateZ(1em);
    width: 2em;
    height: 10em;
    background-color: rgba(216, 216, 216, 0.8);
}
.top-face{
    transform: rotateX(90deg) translateZ(21em);
    background-color: rgba(254, 254, 254, 0.8);
    width: 2em;
    height: 2em;
}
