.skills-section{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    padding-top: var(--section-spacing);
    padding-bottom: var(--section-spacing);
    user-select: none;
    border-bottom: var(--section-seperator);

    padding-left: var(--section-side-padding);
    padding-right: var(--section-side-padding);
}

/* Skills title */
.skills-section > h1{
    color: var(--grey700);
    font-size: var(--section-title-font-size);
    font-weight: var(--section-title-font-weight);
}
/* Skills short description */
.skills-section > p{
    color: var(--grey600);
    font-size: var(--section-subtitle-font-size);
    font-weight: var(--section-subtitle-font-weight);
    line-height: 1.2em;
}

/* Container holds entire bar chart component */
.skills-section > div{
    font-size: 16px;
    padding-bottom: 0.1em;
}