.navbar {
    display: flex;
    width: fit-content;
    background: hsla(0, 0%, 90%, .5);
    padding: 3px;
    border-radius: 30px;
    position: relative;
    font-family: sans-serif;
}

.navbar > a{
    font-size: 0.8em;
    text-align: center;
    text-decoration: none;
    color: rgba(0, 0, 0, .4);
    padding: 1.1em 1.6em 1.1em 1.6em;
    border-radius: 30px;
    transition-property: color, background;
    transition-duration: 0.3s;
    z-index: 1;
}

.navbar > a:hover{
    color: black;
    background: rgba(0, 0, 0, .025);
}

.navbar > .active{
    color: black;
}

/* So when hovering over active item it stays white background color does not change */
.navbar > .active:hover{
    background-color: transparent;
}

.slider{
    z-index: 0;
    background-color: white;
    border-radius: 30px;
    position: absolute;
    transition-property: width, left;
    transition-duration: 0.3s;
}