.experience-card{
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    border-bottom: 1px solid black;
    padding: 2em;
    font-size: 1.1em;
}

/* Contains card title and short description/subtitle */
.experience-card > div{
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}

/* Card title */
.experience-card > div > h2{
    font-size: 2.5em;
    position: relative;
    width: fit-content;
}

/* Title underline animation */
.experience-card > div > h2::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 0.03em;
    background-color: black;
    bottom: 0px;
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}
.experience-card:hover > div > h2::before{
    width: 100%;
}