
.contact-section{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    gap: 3em;
    user-select: none;
    padding-top: var(--section-spacing);
    padding-bottom: var(--section-spacing);
    border-bottom: var(--section-seperator);
    padding-left: 2.5em;
    padding-right: 1em;

    background-color: var(--grey700);
    color: var(--grey100);
}


/* Section sub title "lets shake hands" */
.contact-section > h2{
    font-size: var(--section-subtitle-font-size);
    font-weight: 400;
    white-space: nowrap;
    width: fit-content;
}

/* george.secen.work@gmail.com text */
.contact-section > a{
    all: unset;
    font-size: 3em;
    font-weight: 400;
    width: fit-content;

    /* For color change effect */
    transition: color 0.25s ease-in-out;
}
.contact-section > a:hover{
    color: var(--grey300)
}

/* Interested in relationship text */
.contact-section > p{
    line-height: 1.3em;
}
/* Download cv button */
.contact-section > p > a{
    all: unset;
    text-decoration: underline;
    text-underline-offset: 0.5em;
    white-space: nowrap;

    /* For color change effect */
    transition: color 0.25s ease-in-out;
}
.contact-section > p > a:hover{
    color: var(--grey300)
}

/* Container holds socials buttons */
.contact-section > div{
    display: flex;
    align-items: center;
    gap: 1em;
}
/* Socials buttons */
.contact-section > div > a{
    all: unset;
    text-decoration: underline;
    text-underline-offset: 0.5em;

    /* For color change effect */
    transition: color 0.25s ease-in-out;
}
.contact-section > div > a:hover{
    color: var(--grey300)
}

/* Email text shrinks down in font size and is reponsive */
@media screen and (max-width: 750px){

    .contact-section > a{
        font-size: 1.3em;
    }
}