.code-language-icon{
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
    border: 2px solid;
    border-radius: 15px;
    padding: 3px 6px 3px 6px;
    background-color: white;
}

.code-language-icon > img{
    width: 1.1em;
}

.code-language-icon > p{
    font-family: monospace;
    font-size: 0.9em;
}

