.experiences-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    user-select: none;
    padding-top: var(--section-spacing);
    padding-bottom: var(--section-spacing);
    border-bottom: var(--section-seperator);
}

/* Section title */
.experiences-section > h1{
    color: var(--grey700);
    font-weight: 600;
    font-size: var(--section-title-font-size);
    font-weight: var(--section-title-font-weight);
}

/* Container which holds all experience cards */
.experiences-section > div{
    width: 90%;
}