.custom-cursor{
    scale: 0;
    top: 0;
    left: 0;
    position: fixed;
    width: fit-content;
    height: fit-content;
    z-index: 10;
    pointer-events: none;
    transition-property: scale;
    transition-duration: 0.4s;
}

.custom-cursor.show{
    scale: 1;
}


.custom-cursor > img{
    position: absolute;
    width: 3em;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%,-50%); 
}

.custom-cursor > p{
    position: relative;
    font-family: sans-serif;
    /* For cirular text to rotate at the center */
    /* Height and width must be diameter of circular text*/
    height: 13em;
    width: 13em;
    text-align: center;
    animation: rotate 8s linear infinite;
}
@keyframes rotate {
    from {
        transform: rotateZ(0)
    }

    to {
        transform: rotateZ(360deg)
    }
}

.custom-cursor > p > span{
    position: absolute;
    /* Radius of the circular text */
    transform-origin: 0em 6.5em; 
}

/* So cursor is not used on smaller devices */
@media screen and (max-width: 1050px){

    .custom-cursor{
        display: none;
    }
}